<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milad Zeraatpisheh - Personal Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Milad Zeraatpisheh</h1>
        <p>Data Scientist / Software Engineer</p>
    </header>

    <div class="container">
        <section id="intro">
            <div class="left-section">
                <h2>I am Milad</h2>
            </div>
            <div class="right-section">
                <img src="{{ url_for('static', filename='working_photo.jpg') }}" alt="Milad Zeraatpisheh">
                <p>
                    Welcome to my personal page! I am a Data Scientist and Software Engineer with experience in developing and delivering high-quality software products. My expertise includes machine learning, artificial neural networks, and data analysis.
                </p>
            </div>
        </section>

        <!-- Add other sections as needed -->

    </div>

</body>
</html>
